# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [18]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
cities = pd.read_csv("weather_data2.csv", encoding="utf-8")

cities.dropna(inplace = True) 
cities.head()

,Unnamed: 0,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,busselton,-33.6500,115.3333,84.54,31.0,89.0,9.53,AU,1.616126e+09
1,1,nikolskoye,59.7035,30.7861,21.00,85.0,0.0,4.47,RU,1.616126e+09
2,2,port alfred,-7.0349,29.7638,71.15,79.0,25.0,4.41,CD,1.616126e+09
3,3,saint-louis,16.3333,-15.0000,71.60,46.0,0.0,10.65,SN,1.616126e+09
4,4,saskylakh,71.9167,114.0833,-19.93,92.0,99.0,13.73,RU,1.616126e+09

In [3]:
cities.dtypes

Unnamed: 0      int64
City           object
Latitude      float64
Longitude     float64
Max Temp      float64
Humidity      float64
Cloudiness    float64
Wind Speed    float64
Country        object
Date          float64
dtype: object

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
# Build URL using the Google Maps API
#base_url = "https://maps.googleapis.com/maps/api/geocode/json"

In [5]:
# Store latitude and longitude in locations
locations = cities[["Latitude", "Longitude"]]

#store Humidity as the weight.
humidity = cities ["Humidity"].astype(float)

In [6]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

Narrow down the DataFrame to find your ideal weather condition. For example:


- A max temperature lower than 80 degrees but higher than 70.


- Wind speed less than 10 mph.


- Zero cloudiness.


- Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.


Note: Feel free to adjust to your specifications but be sure to limit the number of rows returned by your API requests to a reasonable number.

In [7]:
cities

,Unnamed: 0,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,busselton,-33.6500,115.3333,84.54,31.0,89.0,9.53,AU,1.616126e+09
1,1,nikolskoye,59.7035,30.7861,21.00,85.0,0.0,4.47,RU,1.616126e+09
2,2,port alfred,-7.0349,29.7638,71.15,79.0,25.0,4.41,CD,1.616126e+09
3,3,saint-louis,16.3333,-15.0000,71.60,46.0,0.0,10.65,SN,1.616126e+09
4,4,saskylakh,71.9167,114.0833,-19.93,92.0,99.0,13.73,RU,1.616126e+09
...,...,...,...,...,...,...,...,...,...,...
545,545,panguipulli,60.3964,-1.3530,44.60,93.0,90.0,9.22,GB,1.616127e+09
546,546,coos bay,37.2711,-87.1764,44.01,87.0,90.0,9.22,US,1.616127e+09
547,547,spring hill,30.6945,78.4932,69.26,15.0,100.0,2.42,IN,1.616127e+09
548,548,itigi,-13.2000,49.0500,75.61,90.0,70.0,2.28,MG,1.616127e+09
549,549,omboue,51.1000,114.5300,25.56,79.0,100.0,10.60,RU,1.616127e+09

In [8]:
narrow_temp =cities.loc[(cities["Max Temp"] > 70) & (cities["Max Temp"] < 80)]
narrow_temp

,Unnamed: 0,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
2,2,port alfred,-7.0349,29.7638,71.15,79.0,25.0,4.41,CD,1.616126e+09
3,3,saint-louis,16.3333,-15.0000,71.60,46.0,0.0,10.65,SN,1.616126e+09
14,14,shalazhi,16.7333,82.2167,78.80,78.0,100.0,2.28,IN,1.616126e+09
16,16,provideniya,17.0151,54.0924,71.60,53.0,0.0,3.44,OM,1.616126e+09
23,23,talawdi,21.3524,-158.0865,73.40,64.0,75.0,12.66,US,1.616126e+09
...,...,...,...,...,...,...,...,...,...,...
521,521,lakes entrance,6.1241,81.1185,78.80,94.0,90.0,8.05,LK,1.616127e+09
526,526,savinskiy,-21.0225,-48.0372,73.40,88.0,0.0,5.75,BR,1.616127e+09
528,528,twin falls,-19.6667,22.2667,71.80,63.0,51.0,3.91,BW,1.616127e+09
540,540,arman,-2.5364,-57.7600,71.35,99.0,100.0,1.30,BR,1.616127e+09
548,548,itigi,-13.2000,49.0500,75.61,90.0,70.0,2.28,MG,1.616127e+09

In [9]:
narrow_wind = narrow_temp.loc[narrow_temp["Wind Speed"] < 10]

narrow_wind

,Unnamed: 0,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
2,2,port alfred,-7.0349,29.7638,71.15,79.0,25.0,4.41,CD,1.616126e+09
14,14,shalazhi,16.7333,82.2167,78.80,78.0,100.0,2.28,IN,1.616126e+09
16,16,provideniya,17.0151,54.0924,71.60,53.0,0.0,3.44,OM,1.616126e+09
32,32,barentsburg,-8.9266,125.4092,71.83,77.0,95.0,2.42,TL,1.616126e+09
33,33,amderma,-4.3667,38.0500,73.33,89.0,98.0,1.01,TZ,1.616126e+09
...,...,...,...,...,...,...,...,...,...,...
521,521,lakes entrance,6.1241,81.1185,78.80,94.0,90.0,8.05,LK,1.616127e+09
526,526,savinskiy,-21.0225,-48.0372,73.40,88.0,0.0,5.75,BR,1.616127e+09
528,528,twin falls,-19.6667,22.2667,71.80,63.0,51.0,3.91,BW,1.616127e+09
540,540,arman,-2.5364,-57.7600,71.35,99.0,100.0,1.30,BR,1.616127e+09
548,548,itigi,-13.2000,49.0500,75.61,90.0,70.0,2.28,MG,1.616127e+09

In [10]:
narrow_cloudiness = narrow_wind.loc[narrow_wind["Cloudiness"] == 0]
narrow_cloudiness

,Unnamed: 0,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
16,16,provideniya,17.0151,54.0924,71.60,53.0,0.0,3.44,OM,1.616126e+09
67,67,ribeira grande,-33.8667,121.9000,78.80,38.0,0.0,8.05,AU,1.616126e+09
183,183,kytlym,15.7432,-96.4661,75.99,64.0,0.0,2.33,MX,1.616127e+09
285,285,tazovskiy,-21.3585,55.7679,79.00,69.0,0.0,4.61,RE,1.616127e+09
462,462,kapit,7.5264,-12.5050,76.82,80.0,0.0,3.89,SL,1.616127e+09
526,526,savinskiy,-21.0225,-48.0372,73.40,88.0,0.0,5.75,BR,1.616127e+09

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

Using Google Places API to find the first hotel for each city located within 5000 meters of your coordinates.

In [11]:
hotel_df = cities
hotel_df['Hotel Name'] = ""
hotel_df

,Unnamed: 0,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,0,busselton,-33.6500,115.3333,84.54,31.0,89.0,9.53,AU,1.616126e+09,
1,1,nikolskoye,59.7035,30.7861,21.00,85.0,0.0,4.47,RU,1.616126e+09,
2,2,port alfred,-7.0349,29.7638,71.15,79.0,25.0,4.41,CD,1.616126e+09,
3,3,saint-louis,16.3333,-15.0000,71.60,46.0,0.0,10.65,SN,1.616126e+09,
4,4,saskylakh,71.9167,114.0833,-19.93,92.0,99.0,13.73,RU,1.616126e+09,
...,...,...,...,...,...,...,...,...,...,...,...
545,545,panguipulli,60.3964,-1.3530,44.60,93.0,90.0,9.22,GB,1.616127e+09,
546,546,coos bay,37.2711,-87.1764,44.01,87.0,90.0,9.22,US,1.616127e+09,
547,547,spring hill,30.6945,78.4932,69.26,15.0,100.0,2.42,IN,1.616127e+09,
548,548,itigi,-13.2000,49.0500,75.61,90.0,70.0,2.28,MG,1.616127e+09,
549,549,omboue,51.1000,114.5300,25.56,79.0,100.0,10.60,RU,1.616127e+09,

In [12]:
hotel_df.reset_index(inplace=True)
del hotel_df['index']
hotel_df.head()

,Unnamed: 0,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,0,busselton,-33.6500,115.3333,84.54,31.0,89.0,9.53,AU,1.616126e+09,
1,1,nikolskoye,59.7035,30.7861,21.00,85.0,0.0,4.47,RU,1.616126e+09,
2,2,port alfred,-7.0349,29.7638,71.15,79.0,25.0,4.41,CD,1.616126e+09,
3,3,saint-louis,16.3333,-15.0000,71.60,46.0,0.0,10.65,SN,1.616126e+09,
4,4,saskylakh,71.9167,114.0833,-19.93,92.0,99.0,13.73,RU,1.616126e+09,

In [13]:
hotellist = []

for i in range(len(hotel_df)):
    lat = hotel_df.loc[i]['Latitude']
    lng = hotel_df.loc[i]['Longitude']

    params = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "types" : "hotel",
        "key": g_key
    }
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    requested = requests.get(base_url, params=params)
    jsn = requested.json()
    try:
        hotellist.append(jsn['results'][0]['name'])
    except:
        hotellist.append("")
hotel_df["Hotel Name"] = hotellist
hotel_df = hotel_df.dropna(how='any')
hotel_df.head()

,Unnamed: 0,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,0,busselton,-33.6500,115.3333,84.54,31.0,89.0,9.53,AU,1.616126e+09,Busselton
1,1,nikolskoye,59.7035,30.7861,21.00,85.0,0.0,4.47,RU,1.616126e+09,Saint Petersburg
2,2,port alfred,-7.0349,29.7638,71.15,79.0,25.0,4.41,CD,1.616126e+09,Kirungu
3,3,saint-louis,16.3333,-15.0000,71.60,46.0,0.0,10.65,SN,1.616126e+09,
4,4,saskylakh,71.9167,114.0833,-19.93,92.0,99.0,13.73,RU,1.616126e+09,Saskylakh

In [20]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [21]:
markers = gmaps.marker_layer(locations, info_box_content= [f"Nearest Hotel: {hotel}" for hotel in hotellist])
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Add marker layer ontop of heat map

markers = gmaps.marker_layer(locations, info_box_content= [f"Nearest Hotel: {hotel}" for hotel in hotellist])
vaca_fig.add_layer(markers)


# Display figure

vaca_fig
Figure(layout=FigureLayout(height='420px'))

NameError: name 'vaca_fig' is not defined